body{}

.bg{
	background-image: url("./../images/bg.jpg");
	background-size: cover no-repeat;
}

.overlay{
	background-size: cover;
	background-color: black;
	background: rgba(20,20,20,0.8);
}

tr:hover { background: #f5f5f5; }

.empty{
	height: 150px;
}

.headerTitle{
	font-size:63px;
}

.viewResults, .createSurvey{
	margin: 10px;
}

.headerCreate, .headerView{
	color: white;
}

.iconHolder{
	background-color: #f7e6d9;
	padding-top: 20px;
	opacity: 0.75;
	height: 10%;
	color: #110801;
}

.icon{
	color: #665200;
}
